<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.ni57735" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Dawid 57735</name>
    <description>Weather App</description>
    <author email="zd57735@zut.edu.pl" href="https://www.wi.zut.edu.pl">
    Dawid Zajkowski
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
