<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="{% block body_class %}{% endblock %}">

<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Lista gier</a></li>
        <li><a href="{{ url_for('create') }}">Dodaj grę</a></li>
    </ul>
</nav>

<main>
    {% block content %}{% endblock %}
</main>


</body>
</html>